/* Your existing CSS styles go here */
body {
    font: 80% sans-serif;
    margin-top: 80px;
}

table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
}

tr:nth-child(even) {
    background: #d4d4d4;
}

th, td {
    padding: 10px 30px;
}

th {
    border-bottom: 1px solid #d4d4d4;
}

#table-container {
    max-width: 800px; /* Set a maximum width */
    margin: 0 auto; /* center  */
    max-height: 500px; /* Set a maximum height for the container */
    overflow-y: auto; /* Add a vertical scrollbar if needed */
}

#admin-heading {
    font-size: 48px; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Add some space below the heading */
    margin: 0 auto; /* center  */
    text-align: center;
    padding: 10px, 20px
}

#buttons-container {
    margin-bottom: 10px;
    margin: 0 auto; /* center  */
    text-align: center;
    
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    margin: 0 auto; /* center  */
    text-align: center;
}